compressai
einops
kornia
lpips
numpy
omegaconf
open_clip_torch
openai_clip
opencv_contrib_python
opencv_python
opencv_python_headless
Pillow
pyiqa
pytorch_lightning
thop==0.1.1.post2209072238
timm
torch
torchvision>=0.13.1
tqdm
transformers
ultralytics_thop
xformers